[Slide No- 39]

1. Create empty tuple and check its Data type.

In [65]:
tuple1=()
type (tuple1)

tuple

**[Slide No. - 39]**



2. Check the output : 
T1 = (101, "Peter", 22)    

T2 = ("Apple", "Banana", "Orange") 

T3 = (10,20,30,40,50)  

Print Data type of each tuple.

In [19]:
T1 = (101, "Peter", 22)
print(T1)

(101, 'Peter', 22)

In [17]:
T2 = ("Apple", "Banana", "Orange")
print(T2)

('Apple', 'Banana', 'Orange')

In [21]:
T3 = (10,20,30,40,50) 
print(T3)

(10, 20, 30, 40, 50)

**[Slide No. - 40]**

3.Write the program to print 0 index item of tuple .

tup = (1,2,3,4,5,6,7)

In [42]:
tup = (1,2,3,4,5,6,7)
print (tup[0])

1

**[Slide No. - 40]**

4.  What is the output of the program  

tup = (1,2,3,4,5,6,7)

print(tup[8])

In [45]:
tup = (1,2,3,4,5,6,7)
print(tup.[8].)

SyntaxError: invalid syntax (<ipython-input-45-562127b163d2>, line 2)

**[Slide No. 40]**

5.  Write a program to concate two tuple.

In [66]:
s='hello ' 
w='world'
print(s+w)

hello world

**[Slide No. 40]**

6 .  Write a program to create the tuple and delete the items?

In [77]:
t3=(10,11,12)
l1=list(t3)
del l1[2]
print (l1)

[10, 11]

**[Slide No. 40]**

7. Write a program to delete  2 index value from  tuples?

In [95]:
tuple3=(7,8,9)
l=list(tuple3)
l
l.pop(2)
l
tuples3=l
print(tuples3)

[7, 8]

**[Slide No. 40]**

8. Check the output of 
tuple1 = (1, 2, 3, 4, 5)    

using negative indexing print last two item of tuple

using negative indexing print '4' from the tuple

using negative indexing print all items of the list

In [27]:
tuple1 = (1, 2, 3, 4, 5)
print(tuple1[-2:])

(4, 5)

In [32]:
print(tuple1[-2])

4

In [96]:
tuple1 = (1, 2, 3, 4, 5)
print(tuple1[-5:])

(1, 2, 3, 4, 5)